*.pyc
__pycache__/
db.sqlite3
local_settings.py

.env
.venv
env/
venv/
ENV/
bin/
lib/
develop-eggs/
dist/
downloads/
eggs/
include/
share/
spec/

media/*
!media/.gitkeep

staticfiles/

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

*.log
